<div class="login-page-container">
    <div class="form-card">
        
        <h2 class="form-title">{{ isLoginMode ? 'Iniciar Sesión' : 'Crear Cuenta' }}</h2>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            
            <div class="input-group">
                <label for="email">Correo Electrónico</label>
                <input 
                    id="email" 
                    type="email" 
                    formControlName="email" 
                    placeholder="ejemplo@correo.com"
                >
                <div class="error-message-placeholder">
                    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">
                        Por favor, introduce un email válido.
                    </div>
                </div>
            </div>

            <div class="input-group">
                <label for="password">Contraseña</label>
                <div class="password-input-wrapper">
                    <input 
                        id="password" 
                        formControlName="password" 
                        placeholder="Contraseña"
                        [type]="passwordVisible && !isLoginMode ? 'text' : 'password'"
                    >
                    <span class="password-toggle-icon" 
                          *ngIf="!isLoginMode" 
                          (click)="togglePasswordVisibility()">
                        {{ passwordVisible ? '🙈' : '👁️' }}
                    </span>
                </div>
                <div class="error-message-placeholder">
                    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
                        La contraseña debe tener al menos 6 caracteres.
                    </div>
                </div>
            </div>

            <div class="input-group" *ngIf="!isLoginMode">
                <label for="confirm-password">Confirmar Contraseña</label>
                <div class="password-input-wrapper">
                    <input 
                        id="confirm-password" 
                        formControlName="passwordConfirm" 
                        placeholder="Confirmar Contraseña"
                        [type]="passwordConfirmVisible ? 'text' : 'password'"
                    >
                    <span class="password-toggle-icon" 
                          (click)="togglePasswordConfirmVisibility()">
                         {{ passwordConfirmVisible ? '🙈' : '👁️' }}
                    </span>
                </div>
                
                <div class="error-message-placeholder">
                    <div *ngIf="loginForm.hasError('passwordsDoNotMatch')" class="error-message">
                        Las contraseñas no coinciden.
                    </div>
                </div>
            </div>
            
            <div *ngIf="error" class="error-message global-error">
                {{ error }}
            </div>

            <button type="submit" [disabled]="loginForm.invalid || isLoading" class="submit-button">
                <span *ngIf="!isLoading">{{ isLoginMode ? 'Iniciar Sesión' : 'Registrarse' }}</span>
                <span *ngIf="isLoading">Cargando...</span>
            </button>

        </form>

        <p class="toggle-link">
            {{ isLoginMode ? '¿No tienes una cuenta?' : '¿Ya tienes una cuenta?' }} 
            <a (click)="toggleMode()" class="link-register">
                {{ isLoginMode ? 'Regístrate aquí' : 'Inicia sesión aquí' }}
            </a>
        </p>

    </div>
</div>