<div class="portada-container">
    
    <h1 class="global-header-title">Gestor de Proyectos Personales</h1>
    
    <div class="content-wrapper">
        <div class="content-left">
            
            <h2 class="subtitle">Organiza tus metas y gestiona tus proyectos con facilidad.</h2>
            
            <p class="description">
                Tu control total sobre proyectos, tareas y plazos. Accede en cualquier momento y lugar.
            </p>

            <button 
                *ngIf="!showLogin" 
                (click)="toggleLoginDisplay()" 
                class="action-button"
            >
                Comenzar Ahora
            </button>
        </div>

        <div *ngIf="showLogin" class="form-right">
            <app-login></app-login>
        </div>
    </div>
</div>